@tailwind base;
@tailwind components;
@tailwind utilities;


.text-shadow-sm {
    text-shadow: 0 0 0 0.5;
  }

  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-lg {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }

  .text-shadow-xl {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  .text-shadow-custom {
    text-shadow: 3px 3px 6px rgba(0, 255, 0, 0.5), 2px 2px 4px rgba(255, 0, 0, 0.5); /* Green and Red shadow */
  }